@model IEnumerable<Onyx.Cartographer.Models.Role>
@{
    ViewBag.Title = "View All Roles";
    ViewBag.VM_Role = "selected";
}

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Id
                </td>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Description
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Roles", new { role.Id }, new { })
                    |                  
                    @Html.ActionLink("Delete", "Delete", "Roles", new { role.Id }, new { })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLinkButton("Add Role", "Add", "Roles", "AdminCP")