@model IEnumerable<Onyx.Cartographer.Models.User>
@{
    ViewBag.Title = "View All Users";
    ViewBag.VM_User = "selected";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Registered Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    <span style="color: #@user.Role.VisualColour">@user.Role.Name</span>
                </td>
                <td>
                    @user.RegisterDate
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Users", new { user.Id }, new { } )
                    |                    
                    @Html.ActionLink("Delete", "Delete", "Users", new { user.Id }, new { })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLinkButton("Add User", "Add", "Users", "AdminCP")