@using Onyx.Cartographer.Models
@model Onyx.Cartographer.ViewModels.Project.CreateProject
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Onyx - Get Started";
    ViewBag.VM_Create = "selected";
    
    var currentUser = ViewBag.CurrentUser as User;
}

<div id="get-started">
    <h1>
        Get Started
    </h1>

    <div class="column-container">
        <div class="left-column">
            <h2>New Project</h2>
            
            @using (Html.BeginForm("Index", "Create", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                
                <p>
                    @Html.Label("Project Name")
                    <br />
                    <span class="error">@Html.ValidationMessageFor(p => p.ProjectName)</span>
                    <br />
                    @Html.TextBoxFor(p => p.ProjectName)
                </p>
                
                <p>
                    @Html.Label("Project Description")
                    <br />
                    <span class="error">@Html.ValidationMessageFor(p => p.ProjectDescription)</span>
                    <br />
                    @Html.TextBoxFor(p => p.ProjectDescription)
                </p>
                
                <div id="stfs-preview" style="width: 222px; background-color: #d1d1d1; border: 2px solid #bebebe; padding: 10px; margin-top: 20px;">
                    <strong>Name: </strong><span id="stfs-name"></span><br />
                    <strong>Game: </strong><span id="stfs-title"></span><br />
                    <div style="margin-top: 5px; padding: 2px; background: #fff; border: 1px solid #333; width: 64px; height: 64px;">
                        <img id="stfs-icon" />
                    </div>
                </div>
                <input type="file" id="project-stfs-upload" name="stfsUpload" />
                <br />
                @Html.ValidationMessage("File")
                <br />
                <br />

                <input type="submit" value="Get Started"/>
            }
        </div>
        <div class="left-column">
            <h2>Recent Projects</h2>
            
            <ul>
                @if (ViewData["RecentProjects"] != null)
                {
                    var projects = ViewData["RecentProjects"] as IEnumerable<Project>;
                    if (projects != null)
                    {
                        foreach (var project in projects)
                        {
                            <li>@Html.ActionLink(project.Name, "Project", "Create", new { id = project.Id }, new { })</li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>

<!-- Utilities -->
@Scripts.Render("~/Scripts/util/functions.js")

<!-- IDE -->
@Styles.Render("~/Content/ide/codemirror.css")
@Styles.Render("~/Content/ide/dialog.css")
@Scripts.Render("~/Scripts/ide/codemirror.js")
@Scripts.Render("~/Scripts/ide/mode/wumboscript.js")
@Scripts.Render("~/Scripts/ide/addons/active-line.js")
@Scripts.Render("~/Scripts/ide/addons/dialog.js")
@Scripts.Render("~/Scripts/ide/addons/searchcursor.js")
@Scripts.Render("~/Scripts/ide/addons/search.js")
@Scripts.Render("~/Scripts/ide/addons/match-highlighter.js")
@Styles.Render("~/Content/ide/theme/onyx.css")

<!-- Cartographer -->
@Scripts.Render("~/Scripts/cartographer/cartographer.js")

<!-- Xbox Data Manager -->
@Scripts.Render("~/Scripts/libs/xdm/xdm.js")

<!-- Xbox Internals (woo, STFS!) -->
@Scripts.Render("~/Scripts/libs/xbox_internals/XboxInternals.js")
