@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Onyx - Create Gametype";
    ViewBag.VM_Create = "selected";
}

<div class="dropGametypeHint">
    <span>
        Drag and Drop a gametype
    </span>
</div>

<div id="gamesaveModify" style="display: none;">
    <h1>
        Modify Gamesave
    </h1>

    <ul class="nav-tabs">
        <li><span>STFS Package Data</span></li>
        <li><span>Metadata</span></li>
        <li class="active"><span>Script Data</span></li>
    </ul>
    <div class="viewData">
        <div class="stfsPackageData">

        </div>
        <div class="metaData">

        </div>
        <div class="scriptData">
            <textarea id="scriptmod" name="code" style="display: none;"></textarea>
        </div>
    </div>
</div>

<style>
    .nav-tabs {
        cursor: pointer;
        list-style-type: none;
        color: white;
        padding: 0px;
        margin: 15px 0 20px 0;
    }

        .nav-tabs > li {
            margin-right: 5px;
            margin-bottom: -1px;
            float: left;
            padding: 0.7em;
            background-color: #1298de;
        }

            .nav-tabs > li.active {
                background-color: #22b3ff;
            }

    .viewData {
        margin: 80px 0 0 0;
    }
</style>

<!-- Utilities -->
@Scripts.Render("~/Scripts/util/functions.js")

<!-- IDE -->
@Styles.Render("~/Content/ide/codemirror.css")
@Styles.Render("~/Content/ide/dialog.css")
@Scripts.Render("~/Scripts/ide/codemirror.js")
@Scripts.Render("~/Scripts/ide/mode/wumboscript.js")
@Scripts.Render("~/Scripts/ide/addons/active-line.js")
@Scripts.Render("~/Scripts/ide/addons/dialog.js")
@Scripts.Render("~/Scripts/ide/addons/searchcursor.js")
@Scripts.Render("~/Scripts/ide/addons/search.js")
@Scripts.Render("~/Scripts/ide/addons/match-highlighter.js")
@Styles.Render("~/Content/ide/theme/onyx.css")

<!-- Cartographer -->
@Scripts.Render("~/Scripts/cartographer/cartographer.js")

<!-- Xbox Data Manager -->
@Scripts.Render("~/Scripts/libs/xdm/xdm.js")

<!-- Xbox Internals (woo, STFS!) -->
@Scripts.Render("~/Scripts/libs/xbox_internals/XboxInternals.js")
