<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Editor</title>
	@Styles.Render("~/Content/reset.css")
	@Styles.Render("~/Content/application.css")
	@Scripts.Render("~/bundles/modernizr")
	
	<!-- jquerty -->
	@Scripts.Render("~/bundles/jquery")
</head>

<body>
	<div id="wrapper" class="layoutWrapper">
		<div id="leftColumn" class="layoutFixLeftSection">
			<div class="layoutFixTopLeftSection">
				<a id="logo" href="/#Features">
					<div id="logo-img"></div>
				</a>
			</div>

			<hr class="position-relative" />			

			<div id="navigation">
				<ul class="navigationList navigationMenu">
                    <li>
                        <a id="nav-feat" href="/" class="@((string)ViewBag.VM_Home ?? "")">Home</a>
                        <div class="identicationTag"></div>
                    </li>
					<li>
						<a id="nav-feat" href="/Featured/" class="@((string)ViewBag.VM_Featured ?? "")">Featured</a>
						<div class="identicationTag"></div>
					</li>
					<li>
                        <a id="nav-create" href="/Create/" class="@((string)ViewBag.VM_Create ?? "")">Create</a>
						<div class="identicationTag"></div>
					</li>
					<li>
                        <a id="nav-about" href="/About/" class="@((string)ViewBag.VM_About ?? "")">About</a>
						<div class="identicationTag"></div>
					</li>
				</ul>
			</div>

			<div id="app-info">
				<div>Onyx Version: <span>0.1 {pa}</span></div>
			</div>
		</div>
		<div id="scrollableContentContainer" class="layoutFluidRightSection">
			<div class="mainPageContent">			
				@RenderBody()
			</div>
		</div>

		<div id="modalMask"></div>
		<div id="pendingMask"></div>
		<div id="modal" class="error">
			<h1>Modal Example</h1>	
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
			</p>
			<div class="actions">
				<input type="button" value="Close" />
			</div>
		</div>
		<noscript>
			<div class="njs alertPage">
				<div class="njs innerWrapper">
					<div class="title"></div>

					<div class="njs wrapper">
						<div class="njs content">
							<div class="njs primaryContent">
								<span class="header">
									I Need Javascript :(
									<br />
									Could you turn it on? ಠ_ಠ
								</span>
							</div>
						</div>
					</div>

					<div class="njs footer">
						<div class="sitemap">
							<ul>
								<li>
									<a href="http://www.xboxchaos.com/">
										XboxChaos
									</a>
								</li>
								<li>•</li>
								<li>
									<a href="http://www.iBotModz.net/">
										iBotModz
									</a>
								</li>
								<li>•</li>
								<li>
									<a href="http://www.branchapp.co/">
										BranchApp
									</a>
								</li>
								<li>|</li>
								<li>&copy; 2013 Project Onyx</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</noscript>
	</div>


	<!-- Data Storage -->
	@Scripts.Render("~/Scripts/stor/data_storage.js")

	<!-- IDE -->
	@Styles.Render("~/Content/ide/codemirror.css")	
	@Styles.Render("~/Content/ide/dialog.css")
	@Scripts.Render("~/Scripts/ide/codemirror.js")
	@Scripts.Render("~/Scripts/ide/mode/wumboscript.js")
	@Scripts.Render("~/Scripts/ide/addons/active-line.js")	
	@Scripts.Render("~/Scripts/ide/addons/dialog.js")
	@Scripts.Render("~/Scripts/ide/addons/searchcursor.js")	
	@Scripts.Render("~/Scripts/ide/addons/search.js")
	@Scripts.Render("~/Scripts/ide/addons/match-highlighter.js")
	@Styles.Render("~/Content/ide/theme/onyx.css")

	<!-- Cartographer -->	
	@Scripts.Render("~/Scripts/cartographer/cartographer.js")

	<!-- Utilities -->	
	@Scripts.Render("~/Scripts/util/events.js")
	@Scripts.Render("~/Scripts/util/functions.js")	
	@Scripts.Render("~/Scripts/util/misc.js")
	@Scripts.Render("~/Scripts/util/mask_manager.js")
	@Scripts.Render("~/Scripts/util/modal_manager.js")

    <!-- Xbox Data Manager -->
    @Scripts.Render("~/Scripts/libs/xdm.js")

    <!-- Xbox Internals (woo, STFS!) -->
    @Scripts.Render("~/Scripts/libs/XboxInternals.js")	
	@RenderSection("scripts", required: false)

	<script>
		var cartographer;
	</script>
</body>
</html>
