<!DOCTYPE html>
<html lang="en" ng-app="cartographer">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Editor</title>
	@Styles.Render("~/Content/reset.css")
	@Styles.Render("~/Content/application.css")
	@Scripts.Render("~/bundles/modernizr")
	
	<!-- jquerty -->
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</head>

<body>
	<div id="wrapper" class="layoutWrapper">
		<div id="leftColumn" class="layoutFixLeftSection">
			<div class="layoutFixTopLeftSection">
				<a id="logo" href="/#Features">
					<div id="logo-img"></div>
				</a>
			</div>

			<hr class="position-relative" />			

			<div id="navigation">
				<ul class="navigationList navigationMenu">
					<li>
						<a id="nav-feat" href="#Featured" class="selected">Featured</a>
						<div class="identicationTag"></div>
					</li>
					<li>
						<a id="nav-create" href="#Create">Create</a>
						<div class="identicationTag"></div>
					</li>
				</ul>
			</div>

			<div id="app-info">
				<div>Onyx Version: <span app-version></span></div>
			</div>
		</div>
		<div id="scrollableContentContainer" class="layoutFluidRightSection">
			<div class="mainPageContent" ng-view>			
				@RenderBody()
			</div>
		</div>
	</div>	

	<script>
		
	</script>
	<!-- Random Shit -->	
	@Scripts.Render("~/Scripts/util/misc.js")

	<!-- Add Angular -->
	@Scripts.Render("~/Scripts/angular.js")

	<!-- Onyx Application Logic -->
	@Scripts.Render("~/Scripts/app/app.js")
	@Scripts.Render("~/Scripts/app/services.js")
	@Scripts.Render("~/Scripts/app/controllers.js")
	@Scripts.Render("~/Scripts/app/filters.js")
	@Scripts.Render("~/Scripts/app/directives.js")

    <!-- Xbox Data Manager -->
    @Scripts.Render("~/Scripts/libs/xdm.js")

    <!-- Xbox Internals (woo, STFS!) -->
    @Scripts.Render("~/Scripts/libs/XboxInternals.js")

	<!-- Modal Manager -->
	@Scripts.Render("~/Scripts/libs/modal_manager.js")
</body>
</html>
